


################################################
## packages
################################################

import(fGarch,
       fExtremes,
       stabledist,
       skewt,
       Rsolnp)

################################################
## functions
################################################

export(dskstd,
       pskstd,
       qskstd,
       rskstd,
       dGAt,
       pGAt,
       qGAt,
       rGAt,
       .armaGarchDist,
       .filterArma,
       .filterAparch,
       .filterGarch11Fit,
       .filterAparchForLoop,
       gsFit,
       .getFormula,
       .getOrder,
       .getStart,
       gsSelect,
       gsSim,
       gsSpec,
       gsMomentAparch,
       .stationarityAparch,
       .normMomentAparch,
       .stdMomentAparch,
       .skstdMomentAparch,
       .gedMomentAparch,
       .GAtMomentAparch,
       .stableS1MomentAparch,
       .stableS1SymmetricMomentGarch,
       .stableS1SymmetricMomentAparch,
       .stableS1MomentPowerGarch
       )


################################################
## Methods
################################################

exportMethods(
    show
)

exportClasses(
    fGEVSTABLEGARCH,
     fGEVSTABLEGARCHSPEC 
)