# -------------------------
# OS / Editor Trash Files
# -------------------------
# macOS Finder files
.DS_Store
.DS_Store?
._*

# macOS crash/metadata directories
.AppleDouble
.LSOverride




# -------------------------
# R / RStudio
# -------------------------

.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/*
