


################################################
## packages
################################################

import(Rsolnp,
       methods,
       skewt
)

importFrom("stats", "arima", "as.formula", "dnorm", "filter",
             "integrate", "nlminb", "optim", "pbeta", "pnorm",
             "printCoefmat", "qbeta", "rnorm", "runif", "terms", "var")

importFrom("fGarch", "dstd", "rstd", "dsstd", "rsstd", "dged", "rged")

importFrom("fExtremes", "dgev", "rgev")

importFrom("stabledist", "dstable", "rstable")

importFrom("timeDate", "timeDate", "timeSequence")

importFrom("timeSeries", "timeSeries")



################################################
## functions
################################################

export(dskstd,
       pskstd,
       qskstd,
       rskstd,
       dgat,
       pgat,
       qgat,
       rgat,
       .GSgarch.dstable,
       .armaGarchDist,
       .filterArma,
       .filterAparch,
       .filterGarch11Fit,
       .filterAparchForLoop,
       gsFit,
       .getFormula,
       .getOrder,
       .getStart,
       gsSelect,
       gsSim,
       gsSpec,
       gsMomentAparch,
       .stationarityAparch,
       .normMomentAparch,
       .stdMomentAparch,
       .skstdMomentAparch,
       .gedMomentAparch,
       .gatMomentAparch,
       .stableS1MomentAparch,
       .stableS1SymmetricMomentGarch,
       .stableS1SymmetricMomentAparch,
       .stableS1MomentPowerGarch
       )



################################################
## Methods
################################################

exportMethods(
    show
)

exportClasses(
    GEVSTABLEGARCH,
     GEVSTABLEGARCHSPEC 
)